# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:


if [[ -f ".env" ]]; then
    set -a
    source ".env"
    set +a
fi

eval "$(devbox generate direnv --print-envrc)"
