:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  max-width: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: flex-start center;
  min-width: 320px;
  min-height: 100vh;
}

pre {
  white-space: pre-wrap;
}

.hntitle {
  margin-top: 0;
  text-align: center;
}

h3.filter {
  margin: 0;
}

.filter-bar {
  padding: 12px 0;
}

.filter-list {
  min-height: 40px;
  display: flex;
}

.github-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0px;
  width: 40px;
  height: 40px;
}

.github-icon > img {
  width: 40px;
  height: 40px;
}
